

.logo{
	height: 130px;
	width: auto;
	float: left;
	margin-top: 20px;
	border-radius: 70%;
    margin-left: -130px;
    margin-top: 10px;
}



header{
	background-image: url('../images/51.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	filter: brightness(100%);



}
.ext{
	font-size: large;
	color:darkmagenta;
	text-decoration:bold;
	font-weight: bold;
}

	


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	

}
.clearfixx:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row{
	max-width: 1180px;
	margin: 0 auto;
	
}
ul{
	float:right;
	margin-top: 50px;
}

ul li{
	display: inline-block;
	list-style: none;
	margin-left: 50px;

}

ul li a{
	padding: 10px 0;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	font-weight: 100;
}

ul li a:hover{
	border-bottom: 2px solid orange;
}


.main-content-header{

	
	width: 2880px;
	position: absolute;
	top: 43%;
	left: 97%;
	transform: translate(-42%, -56%);
	font-family:sans-serif;

}



h1{
	color:black;
	font-size: 340%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;


}
.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, color 0.2s; 
}


.btn-full{
	background-color: transparent;
	color: black;
	margin-right: 15px;
	border: 1px solid darkmagenta;
}


.btn-full:hover{
	background-color: orange;
}


.btn-nav{
	background-color: transparent;
	color: black;
	border: 1px solid darkmagenta;
}


.btn-nav:hover{
	background-color: ORANGE;

}


.colorchange{
	animation: colorchange 1s infinite;

}

.footer{
    
    width: 100%;
    padding: 20px;
    background-color: #464E2E;
    color: #AAA492;
    text-align: center;
    line-height: 35px;
}
.handle{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
  }


@keyframes colorchange{
	0%{color: orange;}
	25%{color: darkmagenta;}
	50%{color: darkmagenta;}
	100%{color: orange;}

}
